<% @recommendations.each do |reco| %>
	<section class=<%= reco.type %>>
		<article>
			<header>
				<%= reco.user.username %>
				<h1><%= reco.title %></h1>
			</header>
			<%= reco.content %>
			<footer>
				Publié le : <%= reco.published_at %>, dans : <%= reco.type %>
			</footer>
		</article>
		<aside>
		</aside>
	</section>
<% end %>