<!DOCTYPE html>
<html>
  <head>
    <title>Inspire</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<a href="/">Inspire</a> |
  		<% if current_user %>
        <a href="/users/drafts">Mes brouillons</a> |
  			<%= form_tag "/users/sign_out", method: :delete, class: 'form-inline', style: 'display:inline !important;' do %>
  				<input type="submit" value="Se déconnecter" />
  			<% end %>
  		<% else %>
  			<a href="/users/sign_in">Connexion</a> |
  			<a href="/users/sign_up">Inscription</a>
  		<% end %>
  	</header>

  	<% if flash[:notice] %>
  		<p class="notice"><%= notice %></p>
  	<% end %>
  	<% if flash[:alert] %>
    	<p class="alert"><%= alert %></p>
    <% end %>


    <%= yield %>
    
    <footer>
    </footer>
  </body>
</html>
