<!DOCTYPE html>
<html>
  <head>
    <title>Inspire</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<a href="/">Inspire</a>
  	</header>

  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <%= yield %>
    
    <footer>
    </footer>
  </body>
</html>
